* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Prata&display=swap");
:root {
  --color-1: #0d1321;
  --color-2: #1d2d44;
  --color-3: #3e5c76;
  --color-4: #748cab;
  --color-5: #f0ebd8;
  --color-6: #c2c5aa;
  --primary: #000000;
  --background: #fafafa;
  --secondary-background: #f2f2f2;
  --gray: #847f90;
  --gray-hover: #171717;
  --primary-hover: #555555;
  --link-gray: #666666;
  --link-gray-hover: #171717;
  --gray: #e1e1e1;
  --gray-border: #e6e6e6;
  --white: #fcfcfc;
  --navbar-height: 64px;
  --footer-background: #121a29;
  --main-color: #caf0f8;
  --second-color: #222;
  --main-modal-color: #89c2d9;
  --second-modal-color: rgba(34, 34, 34, 0.85);
  --container-width: 1200px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  overflow-x: hidden;
}

/* **********  Menu-hamburguesa  ******/

.header {
  margin: 0 auto;
  text-align: center;
  position: sticky;
  top: 0;
  padding: 0.2rem;
  background-color: var(--color-1);
  color: var(--background);
  z-index: 998;
}

.section {
  padding: 6rem;
  padding-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--container-width);
  min-height: 100vh;
  text-align: center;
}

.panel {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--second-modal-color);
  transition: transform 0.3s ease;
  transform: translate(0, -100%);
}

.panel.is-active {
  transform: translate(0, 0);
}

.panel-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-4);
}

.menu {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.menu a {
  padding: 2rem;
  width: inherit;
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--main-color);
  transition: all 0.3s ease;
}

.menu a:hover {
  font-weight: bold;
  color: var(--second-color);
  background-color: var(--main-modal-color);
}

/* ******* main  ******* */
.container-advertisement {
  height: 500px;
  width: 100%;
}

.container-advertisement img {
  height: 500px;
  width: 100%;
}

.paragraph {
  text-align: center;
  background-color: var(--color-6);
  padding: 10px 10px;
}

.container-advertisement p {
  font-family: "Prata", serif;
  font-weight: 50px;
  font-size: 70px;
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.information-text {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

/* scction 2 */

.container-cards {
  display: grid;
  place-items: center;
}

.gallery {
  display: flex;
  gap: 1rem;
  max-width: 90rem;
}

.card {
  position: relative;
  width: 7rem;
  border-radius: 1.2rem;
  height: 25rem;
  overflow: hidden;
  background-color: var(--background);
  transition: 0.4s;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
  flex: 0.25;
}

.card img {
  position: relative;
  height: 25rem;
  align-items: center;
}

.card:hover {
  flex: 0.5;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
}

/* tienda */

.store {
  padding-top: 30px;
  padding-bottom: 100px;
}

.title-store {
  padding: 30px;
  margin-top: 60px;
  text-align: center;
}

.container-card img {
  padding-left: 10px;
  height: 350px;
  width: 250px;
}

.container-card {
  padding: 20px;
  background-color: var(--gray);
}

.info-product {
  margin-left: 20px;
}

.info-product button {
  border: none;
  background-color: var(--gray);
  cursor: pointer;
}

.store-cards {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 50px;
  justify-content: center;
}

/* seccion footer */

footer {
  background-color: var(--color-1);
  display: grid;
  grid-template-columns: 400px 400px 400px;
  justify-content: center;
  column-gap: 20px;
}

.social-networks {
  padding: 50px;
  text-align: center;
}

.social-networks p {
  color: var(--background);
  padding-bottom: 25px;
}

.fa-brands {
  width: 30px;
  height: 30px;
  margin: 3px;
  padding: 5px;
  background: var(--background);
  border-radius: 100%;
  cursor: pointer;
}

.form-email {
  padding: 50px;
  text-align: center;
}

.form-email p {
  color: var(--background);
  padding-bottom: 25px;
}

.copyright {
  padding-top: 100px;
  margin: 0;
}

.contact {
  padding: 50px;
  text-align: center;
}

.contact p {
  color: var(--background);
}

.help-title {
  padding-bottom: 25px;
}
